/**************************/
/***** GLOBAL STYLES ******/
/**************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary:'Poppins', sans-serif;

  --fw-reg:300;
  --fw-bold:700;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: hsl(257, 40%, 49%);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.125rem;
  --fs-body: 1rem;
}

/* @media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
} */

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-accent) url("../img/bg-desktop.svg");
  background-size: cover;
  background-blend-mode: lighten;
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 10px 25px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  background: var(--clr-light);
  border-radius: 15px;
  color: var(--clr-accent);
  cursor: pointer;
  display: inline-block;
  padding: .5em 4em;
  text-decoration: none;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

/* Layout */


.header {
}

.main {
  display: flex;
  flex-flow: row nowrap;
}

.mockup {
  width: 50%;
  padding: 0 50px;
}

.pitch {
  width: 50%;
  padding: 60px;
}

.social {
  padding-right: 50px;
  text-align:right;
  font-size: var(--fs-h2);
}

.social-icon {
  padding: 15px;
  border: 1px solid var(--clr-light);
  border-radius: 50%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--clr-dark); }
